.Produtos { 
    display: grid;
    grid-template-columns: repeat(3, 14rem);
    grid-auto-rows: 21rem;
    row-gap: 1.2rem;
    align-items: center;
    justify-content: space-between;
}

.Produto {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
}

.ProdutoName{ 
    padding: 0;
    margin: 0;
    font-size: 1.2rem;
    font-weight: bold;
}

.ProdutoImage{
    background-color: pink;
    height: 100%;
    width: 100%;
    border-radius: .4rem;
    display: block;
}

.ProdutoPrice { 
    padding: 0;
    margin: 0;
}