.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.logo{
    height: 3.8rem;
}

.icons{
    display: flex;
    gap: .5rem;
    font-size: 1.4rem;
}