.navbar {
    width: 100%;
    background-color: #cdb4db;
    overflow-x: hidden;
    position: fixed;
    top: 0
}

.navbar ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.navbar ul:first-child{
    position: relative;
    padding: .8rem 0;
}

.navbar ul:first-child::after{
    content: '';
    display: block;
    position: absolute;
    width: 200vw;
    left: -50vw;
    bottom: 0px;
    border-bottom: 1px solid white;
}

.navbar li{ 
    list-style: none;
}

.logoImage{
    height: 3.8rem;
}

.busca{
    width: 60%;
}

.icons{
    display: flex;
    gap: 1rem;
    font-size: 1.4rem;
    color: #3c096c;
}

.icons i:hover{
    opacity: 0.4;
}