.navbar {
    width: 100%;
    background-color: #cdb4db;
}

.navbar ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar li{ 
    list-style: none;
}

.logoImage{
    height: 3.8rem;
}

.busca{
    width: 60%;
}

.icons{
    display: flex;
    gap: 1rem;
    font-size: 1.4rem;
    color: #3c096c;
}

.icons i:hover{
    opacity: 0.4;
}