.wpp{
    color: green;
    font-size: 1.2rem;
    align-items: center;
}

.email{
    color: rgb(144, 134, 153);
    font-size: 1.2rem;
}

.footer{
    background-color: #cdb4db;
    width: 100%;
    display: flex;
    gap: .8rem;
    padding: 10px 0;
    align-items: flex-start;
    justify-content: center;
}

.instagram{
    color: #d233d7, 
}